{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align: left">
                <h1>{{ title }}</h1>
            </div>
            <hr/>
        </div>
        {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} d-flex justify-content-start" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if 'settings' not in request.path %}
            <div class="row">
                {% get_current_language as LANGUAGE_CODE %}
                <div class="col-4" style="text-align: left">
                    <a href="{{ list_path }}" class="btn btn-secondary" style="margin-bottom: 10px">
                        <i class="fa fa-arrow-left"></i> {% trans 'label:back' %}
                    </a>
                </div>
            </div>
        {% endif %}
        <form method="POST"> {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-12" style="text-align: start;">
                            <label class="control-label"
                                   for="{{ field.id }}"><b>{{ field.label }}:</b></label>
                        </div>
                        <div class="col-12">
                            {% if field.errors %}
                                {{ field|add_attr:"form-control form-control-lg is-invalid" }}
                                <span class="text-danger d-flex justify-content-start mt-1">
                                                {{ field.errors|first }}
                                            </span>
                            {% else %}
                                {{ field|add_attr:"form-control form-control-lg" }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <button class="btn btn-primary" type="submit" automation-id="general-submit-button"
                        style="margin-top: 5px">
                    {{ submit_btn }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}