{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align: left">
                <h1>{{ title }}</h1>
            </div>
            <hr/>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" style="text-align: start">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-8" style="text-align: left">
                <a href="{{ request.path }}{{ create_path }}" class="btn btn-primary btn-sm active" role="button"
                   aria-pressed="true">{{ add_new_text }}
                    <i class="fas fa-plus"></i>
                </a>
                <a onclick="exportTable()" class="btn btn-primary btn-sm active"
                   role="button"
                   aria-pressed="true">{% trans 'label:export_button' %}
                    <i class="fas fa-file-export"></i>
                </a>
                <a href="{{ request.path }}" class="btn btn-primary btn-sm active"
                   role="button" style="display: none" id="clearFilters"
                   aria-pressed="true"> {% trans 'label:clear_filters' %}
                    <i class="fas fa-arrows-rotate"></i>
                </a>
            </div>
            <div class="col-4" style="text-align: right">
                <form method="get">
                    <input type="search" class="form-control rounded" placeholder="{% trans 'label:search' %}"
                           aria-label="Search"
                           aria-describedby="search-addon" name="query"/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="row table-responsive" style="margin-top: 10px">
                <table class="table table-striped" id="tableToExport">
                    <thead>
                    <tr>
                        {% for data in header_data %}
                            <th scope="col">{{ data.header }}&nbsp;<i
                                    style="cursor:pointer;display: {% if table_data|length <= 1 %} none {% else %} inline-block{% endif %}"
                                    onclick="sort(this, {{ table_data|length }})"
                                    id="{{ data.id }}"
                                    class="fa fa-sort"></i>
                            </th>
                        {% endfor %}
                        <th scope="col">{% trans 'label:edit_text' %}</th>
                        <th scope="col">{% trans 'label:delete_text' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in table_data.values %}
                        <tr>
                            {% for value in data.values %}
                                <td class="align-middle">{{ value }} </td>
                            {% endfor %}
                            <td class="align-middle">
                                <a href="{{ request.path }}{{ data.id }}/{{ update_path }}"
                                   class="btn btn-primary btn-sm active"
                                   role="button"><i
                                        class="fas fa-edit"></i></a>
                            </td>
                            <td class="align-middle">
                                <form> {% csrf_token %}
                                    <a class="btn btn-danger btn-sm active" role="button"
                                       onclick="deleteAction('{{ delete_action }}' ,{{ data.id }})"><i
                                            class="fas fa-trash"></i></a>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="12" style="text-align: center">{{ not_found_text }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="pagination-general">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                            >&laquo;</a
                            >
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                    {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link"
                        >&raquo;</a
                        >
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
        </nav>
    </div>
    <script src="{% static 'js/tableUtils.js' %}"></script>
    <script src="{% static 'js/deleteAction.js' %}"></script>
{% endblock %}

